<a href="https://colab.research.google.com/github/lovewjy4/lovewjy4test/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EC%9E%90%EC%97%B4%2B%EB%A6%AC%EC%8A%A4%ED%8A%B8%2B%EC%82%AC%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = "python"
print(s[2])
print(s[-2])

t
o

In [2]:
s = "python"
for c in s:
  print(c, end=',')

p,y,t,h,o,n,

In [3]:
for i in range(len(s)):
  print(s[i], end=',')

p,y,t,h,o,n,

In [4]:
s = "python"
print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:-2])

tho
hon
pyth
th

In [5]:
file = "20171224-104830.jpg"
print("촬영 날짜 : " + file[4:6] + "월 " + file[6:8] + "일")
print("촬영 시간 : " + file[9:11] + "시 " + file[11:13] + "분")
print("확장자 : " + file[-3:])

촬영 날짜 : 12월 24일
촬영 시간 : 10시 48분
확장자 : jpg

In [6]:
yoil = "월화수목금토일"
print(yoil[::2])
print(yoil[::-1])

월수금일
일토금목수화월

In [7]:
s = "python programming"
print(len(s))
print(s.find('o'))
print(s.rfind('o'))
print(s.index('r'))
print(s.count('n'))

18
4
9
8
2

In [8]:
s = """생각이란 생각할수록 생각나므로 생각하지 말아야 할 생각은 생각하지
않으려고 하는 생각이 옳은 생각이라고 생각합니다."""
print("생각의 출현 횟수 : ", s.count('생각'))

생각의 출현 횟수 :  9

In [9]:
s = "python programming"
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)

True
False
True
True

In [10]:
name = "김한결"
if name.startswith("김"):
  print("김가입니다.")
if name.startswith("한"):
  print("한가입니다.")

file = "girl.jpg"
if file.startswith(".jpg"):
  print("그림 파일입니다.")

김가입니다.

In [11]:
height = input("키를 입력하세요 : ")
if height.isdecimal():
  print("키 =", height)
else:
  print("숫자만 입력하세요.")

키를 입력하세요 : 170
키 = 170

In [12]:
s = "Good morning. my love KIM."
print(s.lower())
print(s.upper())
print(s)

print(s.swapcase())
print(s.capitalize())
print(s.title())

good morning. my love kim.
GOOD MORNING. MY LOVE KIM.
Good morning. my love KIM.
gOOD MORNING. MY LOVE kim.
Good morning. my love kim.
Good Morning. My Love Kim.

In [13]:
python = input("파이썬의 영문 철자를 입력하시오 : ")
if python.lower() == "python":
  print("맞췄습니다.")

파이썬의 영문 철자를 입력하시오 : Python
맞췄습니다.

In [14]:
s = "  angel   "
print(s + "님")
print(s.lstrip() + "님")
print(s.rstrip() + "님")
print(s.strip() + "님")

  angel   님
angel   님
  angel님
angel님

In [15]:
s = "짜장 짬뽕 탕슉"
print(s.split())

s2 = "서울->대전->대구->부산"
city = s2.split("->")
print(city)
for c in city:
  print(c, "찍고", end=' ')

['짜장', '짬뽕', '탕슉']
['서울', '대전', '대구', '부산']
서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [16]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
  print(line)

강나루 건너서
밀밭 길을

구름에 달 가듯이
가는 나그네

길은 외줄기
남도 삼백리

술 익는 마을마다
타는 저녁놀

구름에 달 가듯이
가는 나그네

In [17]:
s = "._."
print(s.join("대한민국"))

대._.한._.민._.국

In [18]:
s2 = "서울->대전->대구->부산"
city = s2.split("->")
print(" 찍고 ".join(city))

서울 찍고 대전 찍고 대구 찍고 부산

In [19]:
s = "독도는 일본땅이다. 대마도도 일본땅이다."
print(s)
print(s.replace("일본", "한국"))

독도는 일본땅이다. 대마도도 일본땅이다.
독도는 한국땅이다. 대마도도 한국땅이다.

In [20]:
message = "안녕하세요."
print(message.ljust(30))
print(message.rjust(30))
print(message.center(30))

안녕하세요.
                        안녕하세요.
            안녕하세요.

In [21]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
  print(line.center(30))

           강나루 건너서
            밀밭 길을

          구름에 달 가듯이
            가는 나그네

            길은 외줄기
            남도 삼백리

          술 익는 마을마다
            타는 저녁놀

          구름에 달 가듯이
            가는 나그네

In [22]:
price = 500
print("궁금하면 " + str(price) + "원!")

궁금하면 500원!

In [23]:
print("궁금하면 ", price, "원!")

궁금하면  500 원!

In [24]:
price = 500
print("궁금하면 %d원! % price")

궁금하면 %d원! % price

In [25]:
month = 8
day = 15
anni = "광복절"
print("%d월 %d일은 %s이다." % (month, day, anni))

8월 15일은 광복절이다.

In [26]:
print(str(month) + "월 " + str(day) + "일은 " + anni + "이다.")

8월 15일은 광복절이다.

In [27]:
value = 123
print("###%d###" % value)
print("###%5d###" % value)
print("###%10d###" % value)
print("###%1d###" % value)

###123###
###  123###
###       123###
###123###

In [29]:
price = [30, 13500, 2000]
for p in price:
  print("가격:%d원" % p)
for p in price:
  print("가격:%7d원" % p)

가격:30원
가격:13500원
가격:2000원
가격:     30원
가격:  13500원
가격:   2000원

In [30]:
price = [30, 13500, 2000]
for p in price:
  print("가격:%-7d원" % p)

가격:30     원
가격:13500  원
가격:2000   원

In [31]:
pie = 3.14159265
print("%10f" % pie)
print("%10.8f" % pie)
print("%10.5f" % pie)
print("%10.2f" % pie)

  3.141593
3.14159265
   3.14159
      3.14

In [32]:
name = "한결"
age = 16
height = 162.5
print("이름:{}, 나이:{}, 키:{}".format(name, age, height))

이름:한결, 나이:16, 키:162.5

In [33]:
print("이름:{0}, 나이:{1}, 키:{2}".format(name, age, height))

이름:한결, 나이:16, 키:162.5

In [34]:
print("이름:{name}, 나이:{age}, 키:{height}".format(name = "한결", age = 20, height = 160.9))

이름:한결, 나이:20, 키:160.9

In [37]:
boy = {"name":"한결", "age":16, "height":162.5}
print("이름:{0[name]}, 나이:{0[age]}, 키:{0[height]}".format(boy))

이름:한결, 나이:16, 키:162.5

In [38]:
name = "한결"
age = 16
height = 162.5
print("이름:{0:s}, 나이:{1:d}, 키:{2:f}".format(name, age, height))

이름:한결, 나이:16, 키:162.500000

In [39]:
name = "한결"
age = 16
height = 162.5
print("이름:{0:10s}, 나이:{1:5d}, 키:{2:8.2f}".format(name, age, height))

이름:한결        , 나이:   16, 키:  162.50

In [40]:
name = "한결"
age = 16
height = 162.5
print("이름:{0:^10s}, 나이:{1:>5d}, 키:{2:<8.2f}".format(name, age, height))

이름:    한결    , 나이:   16, 키:162.50

In [41]:
name = "한결"
age = 16
height = 162.5
print("이름:{0:$^10s}, 나이:{1:0>5d}, 키:{2:!<8.2f}".format(name, age, height))

이름:$$$$한결$$$$, 나이:00016, 키:162.50!!

In [42]:
s = "universe"
for i in s:
  print(i)

u
n
i
v
e
r
s
e

In [53]:
domain = "korea.kr"
if domain.endswith(".kr"):
  print("한국 도메인입니다.")

한국 도메인입니다.

In [54]:
sosi = "태연, 서연, 수영"
singer = sosi.split(", ")
for s in singer:
  print(s, "사랑해")

태연 사랑해
서연 사랑해
수영 사랑해

In [48]:
coffee = "아침에 커피로 시작하고 밥 먹고 커피 마시고 자기 전에도 커피를 마신다."
print(coffee.replace("커피","우유"))

아침에 우유로 시작하고 밥 먹고 우유 마시고 자기 전에도 우유를 마신다.

In [49]:
password = "901231-1914983"
print(password[0:2] + "년생", end=' ')
if password[7]=='1':
  print(" 남자")
elif password[7]=='0':
  print(" 여자")

90년생  남자

In [52]:
sum = 356
avg = 89.2785
print("총점: " + str(sum) + ", " + "평균: " + str(round(avg,2)))

총점: 356, 평균: 89.28

In [55]:
score = [88, 95, 70, 100, 99]
name = ["최상미", "이한승", "김기남"]

In [56]:
namescore = ["최상미", 88, "이한승", 95]

In [57]:
score = [88, 95, 70, 100, 99]
sum = 0
for s in score:
  sum += s
print("총점 : ", sum)
print("평균 : ", sum / len(score))

총점 :  452
평균 :  90.4

In [58]:
print(list("korea"))

['k', 'o', 'r', 'e', 'a']

In [59]:
score = [88, 95, 70, 100, 99]
print(score[0])
print(score[2])
print(score[-1])

88
70
99

In [60]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])
print(nums[:4])
print(nums[6:])
print(nums[1:7:2])

[2, 3, 4]
[0, 1, 2, 3]
[6, 7, 8, 9]
[1, 3, 5]

In [61]:
score = [88, 95, 70, 100, 99]
print(score[2])
score[2] = 55
print(score[2])

70
55

In [62]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums[2:5] = [20, 30, 40]
print(nums)
nums[6:8] = [90, 91, 92, 93, 94]
print(nums)

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

In [63]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums[2:5] = []
del nums[4]
print(nums)

[0, 1, 5, 6, 8, 9]

In [64]:
list1 = [1,2,3,4,5]
list2 = [10,11]
listadd = list1 + list2
print(listadd)
listmulti = list2 * 3
print(listmulti)

[1, 2, 3, 4, 5, 10, 11]
[10, 11, 10, 11, 10, 11]

In [65]:
lol = [[1,2,3], [4,5], [6,7,8,9]]
print(lol[0])
print(lol[2][1])

for sub in lol:
  for item in sub:
    print(item, end=' ')
  print()

[1, 2, 3]
7
1 2 3
4 5
6 7 8 9

In [67]:
score = [
    [88, 76, 92, 98],
    [65, 70, 58, 82],
    [82, 80, 78, 88]
]

total = 0
totalsub = 0
for student in score:
  sum = 0
  for subject in student:
    sum += subject
  subjects = len(student)
  print("총점 %d, 평균 %.2f" % (sum, sum / subjects))
  total += sum
  totalsub += subjects
print("전체평균 %.2f" % (total / totalsub))

총점 354, 평균 88.50
총점 275, 평균 68.75
총점 328, 평균 82.00
전체평균 79.75

In [68]:
[n for n in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
nums = [n * 2 for n in range(1, 11)]
for i in nums:
  print(i, end=', ')

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [70]:
nums = []
for n in range(1, 11):
  nums.append(n * 2)

In [71]:
[n for n in range(1, 11) if n % 3 == 0] # [3,6,9]
[n*n for n in range(1, 11) if n % 3 == 0] # [9, 36, 81]

[9, 36, 81]

In [72]:
nums = [1,2,3,4]
nums.append(5)
nums.insert(2, 99)
print(nums)

[1, 2, 99, 3, 4, 5]

In [73]:
nums = [1,2,3,4]
nums[2:2] = [90, 91, 92]
print(nums)

nums = [1,2,3,4]
nums[2] = [90, 91, 92]
print(nums)

[1, 2, 90, 91, 92, 3, 4]
[1, 2, [90, 91, 92], 4]

In [74]:
list1 = [1,2,3,4,5]
list2 = [10,11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [75]:
list3 = list1 + list2
list1.extend(list2)

In [76]:
score = [88, 95, 70, 100, 99, 80, 78, 50]
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:4] = []
print(score)

[88, 95, 70, 99, 80, 78, 50]
[88, 95, 99, 80, 78, 50]
[88, 78, 50]

In [77]:
score = [88, 95, 70, 100, 99]
print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

99
100
95
[88, 70]

In [78]:
score = [88, 95, 70, 100, 99, 80, 78, 50]
perfect = score.index(100)
print("만점 받은 학생은 " + str(perfect) + "번입니다.")
pernum = score.count(100)
print("만점자 수는 " + str(pernum) + "명입니다.")

만점 받은 학생은 3번입니다.
만점자 수는 1명입니다.

In [79]:
score = [88, 95, 70, 100, 99, 80, 78, 50]
print("학생 수는 %d명입니다." % len(score))
print("최고 점수는 %d점입니다." % max(score))
print("최저 점수는 %d점입니다." % min(score))

학생 수는 8명입니다.
최고 점수는 100점입니다.
최저 점수는 50점입니다.

In [80]:
ans = input("결제 하시겠습니까? ")
if ans in ['yes', 'y', 'ok', '예', '당근']:
  print("구입해 주셔서 감사합니다.")
else:
  print("안녕히 가세요.")

결제 하시겠습니까? y
구입해 주셔서 감사합니다.

In [81]:
score = [88, 95, 70, 100, 99]
score.sort()
print(score)
score.reverse()
print(score)

[70, 88, 95, 99, 100]
[100, 99, 95, 88, 70]

In [82]:
country = ["Korea", "japan", "CHINA", "america"]
country.sort()
print(country)
country.sort(key = str.lower)
print(country)

['CHINA', 'Korea', 'america', 'japan']
['america', 'CHINA', 'japan', 'Korea']

In [83]:
score = [88, 95, 70, 100, 99]
score2 = sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [84]:
score = (88, 95, 70, 100, 99)
sum = 0
for s in score:
  sum += s
print("총점 : ", sum)
print("평균 : ", sum / len(score))

총점 :  452
평균 :  90.4

In [85]:
tu = 2,
value = 2
print(tu)
print(value)

(2,)
2

In [86]:
tu = 1,2,3,4,5
print(tu[3])
print(tu[1:4])
print(tu + (6,7))
print(tu * 2)
tu[1] = 100
del tu[1]

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

TypeError: ignored

In [87]:
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [88]:
a, b = 12, 34
print(a,b)
a, b = b, a
print(a, b)

12 34
34 12

In [89]:
import time

def gettime():
  now = time.localtime()
  return now.tm_hour, now.tm_min

result =gettime()
print("지금은 %d시 %d분입니다" % (result[0], result[1]))

지금은 2시 55분입니다

In [90]:
d, m = divmod(7, 3)
print("몫", d)
print("나머지", m)

몫 2
나머지 1

In [91]:
score = [88, 95, 78, 100, 99]
tu = tuple(score)
#tu[0] = 100
print(tu)
li = list(tu)
li[0] = 100
print(li)

(88, 95, 78, 100, 99)
[100, 95, 78, 100, 99]

In [98]:
#1번 문제
score = [10,20,30,50,60,70,90,100]
avg = 0
sum = 0
for i in range(len(score)):
  sum += (score[i])
  avg = sum / len(score)
print(sum)
print(avg)

430
53.75

In [93]:
#2번
score = [88, 95, 70, 100, 99]
score[2] = 0
print(score)

[88, 95, 0, 100, 99]

In [99]:
#3번
for i in range(1, 100):
  if i%2==0:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [100]:
#4번
nums = []
for n in range(1, 10):
  if n%3==0:
    nums.append(n*n)
for i in nums:
  print(i, end = ",")

9,36,81,

In [97]:
# 7번
score = [10, 30, 50, 80,72]
score.sort()
print(score)

[10, 30, 50, 72, 80]

In [101]:
dic = {'boy': '소년', 'school':'학교', 'book':'책'}
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [102]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic['boy'])
print(dic['book'])

소년
책

In [103]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.get('student'))
print(dic.get('student', '사전에 없는 단어입니다.'))

None
사전에 없는 단어입니다.

In [104]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
if 'student' in dic:
  print("사전에 있는 단어입니다.")
else:
  print("이 단어는 사전에 없습니다.")

이 단어는 사전에 없습니다.

In [105]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
dic['boy'] = '남자애'
dic['girl'] = '소녀'
del dic['book']
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀'}

In [106]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [107]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
keylist = dic.keys()
for key in keylist:
  print(key)

boy
school
book

In [108]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
dic2 = {'student':'학생', 'teacher':'선생님', 'book':'서적'}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [109]:
li = [['boy', '소년'], ['school', '학교'], ['book', '책']]
dic = dict(li)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [110]:
song = """by the rivers of babylon, there we sat down
yeah we wept, when we remember zion.
when the wicked carried us away in captivity
required from us a song
now how shall we sing the lord's song in a strange land"""

alphabet = dict()
for c in song:
  if c.isalpha() == False:
    continue
  c = c.lower()
  if c not in alphabet:
    alphabet[c] = 1
  else:
    alphabet[c] += 1

print(alphabet)

{'b': 4, 'y': 5, 't': 9, 'h': 9, 'e': 22, 'r': 12, 'i': 10, 'v': 2, 's': 10, 'o': 10, 'f': 2, 'a': 12, 'l': 5, 'n': 13, 'w': 12, 'd': 6, 'p': 2, 'm': 3, 'z': 1, 'c': 3, 'k': 1, 'u': 3, 'q': 1, 'g': 4}

In [111]:
key = list(alphabet.keys())
key.sort()
for c in key:
  num = alphabet[c]
  print(c, "=>", num)

a => 12
b => 4
c => 3
d => 6
e => 22
f => 2
g => 4
h => 9
i => 10
k => 1
l => 5
m => 3
n => 13
o => 10
p => 2
q => 1
r => 12
s => 10
t => 9
u => 3
v => 2
w => 12
y => 5
z => 1

In [112]:
for code in range(ord('a'), ord('z') + 1):
  c = chr(code)
  num = alphabet.get(c, 0)
  print(c, "=>", num)

a => 12
b => 4
c => 3
d => 6
e => 22
f => 2
g => 4
h => 9
i => 10
j => 0
k => 1
l => 5
m => 3
n => 13
o => 10
p => 2
q => 1
r => 12
s => 10
t => 9
u => 3
v => 2
w => 12
x => 0
y => 5
z => 1

In [113]:
asia = {'korea', 'china', 'japan', 'korea'}
print(asia)

{'korea', 'china', 'japan'}

In [115]:
print(set("sanghyung"))
print(set([12, 34, 56, 78]))
print(set(("신지희", "한주완", "김태륜")))
print(set({'boy': '소년', 'school': '학교', 'book': '책'}))
print(set())

{'u', 's', 'n', 'h', 'a', 'y', 'g'}
{56, 34, 12, 78}
{'신지희', '김태륜', '한주완'}
{'school', 'book', 'boy'}
set()

In [116]:
asia = {'korea', 'china', 'japan'}
asia.add('vietnam') # 추가
asia.add('china')
asia.remove('japan') # 제거
print(asia)

asia.update({'singapore', 'hongkong', 'korea'})
print(asia)

{'korea', 'china', 'vietnam'}
{'china', 'hongkong', 'vietnam', 'korea', 'singapore'}

In [117]:
twox = {2, 4, 6, 8, 10, 12}
threex = {3, 6, 9, 12, 15}

print("교집합", twox & threex)
print("합집합", twox | threex)
print("차집합", twox - threex)
print("차집합", threex - twox)
print("배타적 차집합", twox ^ threex)

교집합 {12, 6}
합집합 {2, 3, 4, 6, 8, 9, 10, 12, 15}
차집합 {8, 2, 10, 4}
차집합 {9, 3, 15}
배타적 차집합 {2, 3, 4, 8, 9, 10, 15}

In [118]:
mammal = {'코끼리', '고릴라', '사자', '고래', '사람', '원숭이', '개'}
primate = {'사람', '원숭이', '고릴라'}

if '사자' in mammal:
  print("사자는 포유류입니다.")
else:
  print("사자는 포유류가 아닙니다.")

print(primate <= mammal)
print(primate < mammal)
print(primate <= primate)
print(primate < primate)

사자는 포유류입니다.
True
True
True
False

In [125]:
color = {'빨': 'red', '주' : 'orange', '노': 'yellow', '초': 'green', '파': 'blue', '남': 'indigo', '보': 'purple'}
print(color['초'])

green